*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --black: hsla(0, 0%, 0%, 0.87);
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  height: -webkit-fill-available;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  margin: 0;
}

.p-r {
  position: relative;
}

.d-flx {
  display: flex;
}

.f-d-c {
  flex-direction: column;
}

#header-container {
  justify-content: flex-end;
  padding: .6rem;
}

.menu {
  align-items: center;
}

.menu__item {
  display: inline;
}

.menu__link {
  font-size: 1.3rem;
  padding-right: 1.4rem;
  color: var(--black);
}

.google__options figure {
  width: 40px;
  margin: .4rem;
  cursor: pointer;
}

.google__options figure img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.google__options figure::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 0;
  transition-property: background-color;
  transition-duration: .3s;
}

.google__options figure:hover::before {
  background-color: #EFF0F0;
}

.google__options .products-icon {
  padding: 8px;
}

.google__options .user-avatar {
  padding: 4px;
  margin-right: .8rem;
}

.primary-content section {
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
}

.seach {
  padding: 2rem;
}